@model IEnumerable<ForRefugees.Models.Refugiado>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Index.css" rel="stylesheet"/>

<h1>Lista de Cadastro</h1>

<p>
    <a asp-action="Create"> Inserir Novo</a>
</p>

<section class="card--index container-fluid d-flex justify-content-center align-items-center">
@foreach (var item in Model) {
           <div class="card ml-3">
              <div class="card-body">
                <h3 class="card-title mb-5">@item.Nome</h3>
                <h6 class="card-subtitle mb-2 text-muted">@item.DataNascimento.ToString("dd/MM/yyyy")</h6>
                <h6 class="card-subtitle mb-2 text-muted">@item.Profissao</h6>
                <p class="card-text text-left">@item.Bio</p>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
              </div>
        </div>
 }
</section>
