@model ForRefugees.Models.Contratante

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid justify-content-center row mt-3 mb-3 ml-auto mr-auto"> 
<div class="card col-sm-12 col-lg-6 m-auto "> 
  <div class="card-header d-flex justify-content-center">
    <h4>Contratante</h4>
  </div>
  <div class="card-body">
    <div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seguimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seguimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-6">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
  </div>
</div>
</div>
