@model IEnumerable<ForRefugees.Models.Contratante>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Index.css" rel="stylesheet"/>
<div class="container-fluid d-flex flex-column align-items-center mt-4 mb-4 ">
<p>
    <a asp-action="Create" class="btn btn-primary">Cadastre para contratar</a>
</p>

<section class="container d-flex justify-content-lg-center align-content-center section-index">

    <table id="myTable" class="container-fluid">
        <thead style="display: none;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Seguimento)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <!--CARD INICIO -->
                        <div class="card text-center">
                            <div class="card-header">
                                <strong class="text-capitalize">@Html.DisplayFor(modelItem => item.Seguimento)</strong> <BR/>
                                <div class="text-lowercase text-capitalize"> @Html.DisplayFor(modelItem => item.Nome)</div>
                                Oferta: R$@Html.DisplayFor(modelItem => item.ValorHora),00 (Hora)
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sobre</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Bio)
                                </p>
                            </div>
                            <div class="card-footer text-muted d-flex justify-content-around">
                                 @Html.DisplayFor(modelItem => item.Cidade)
                                 @Html.DisplayFor(modelItem => item.Estado)
                                 - @Html.DisplayFor(modelItem => item.Bairro)
                                 | Data Cadastro:
                                 
                                 @item.DataCadastro.ToString("dd/MM/yyyy")
                                 
                                <div>
                                    <i class="far fa-edit"></i>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <i class="far fa-newspaper"></i>
                                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                    <i class="far fa-trash-alt"></i>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
</div>

@section scripts{
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
            }
        });

    });
</script>
}
<!--
                Html.DisplayNameFor(model => model.Seguimento)



                Html.DisplayFor(modelItem => item.Nome)

                Html.DisplayFor(modelItem => item.Cpf)

                Html.DisplayFor(modelItem => item.Cnpj)

                Html.DisplayFor(modelItem => item.Seguimento)

                Html.DisplayFor(modelItem => item.ValorHora)

                Html.DisplayFor(modelItem => item.DataCadastro)

                Html.DisplayFor(modelItem => item.Senha)

                Html.DisplayFor(modelItem => item.Email)

                Html.DisplayFor(modelItem => item.Telefone)

                Html.DisplayFor(modelItem => item.Bio)

                Html.DisplayFor(modelItem => item.Endereco)

                Html.DisplayFor(modelItem => item.Bairro)

                Html.DisplayFor(modelItem => item.Cidade)

                Html.DisplayFor(modelItem => item.Estado)

                <a asp-action="Edit" asp-route-id="item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="item.Id">Excluir</a>
-->
