@model IEnumerable<ForRefugees.Models.Vaga>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Index.css" rel="stylesheet"/>
<div class="container-fluid d-flex flex-column align-items-center mt-4 mb-4 ">
<p>
    <a asp-action="Create" class="btn btn-primary">Cadastre uma vaga</a>
</p>

<section class="container d-flex justify-content-lg-center align-content-center section-index">

    <table id="myTable" class="container-fluid">
        <thead style="display: none;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cargo)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <!--CARD INICIO -->
                        <div class="card text-center">
                            <div class="card-header">
                                <strong class="text-capitalize">@Html.DisplayFor(modelItem => item.Cargo)</strong> <BR/>
                                <div class="text-lowercase text-capitalize"> @Html.DisplayFor(modelItem => item.Contratante.Nome)</div>
                                Oferta: R$@Html.DisplayFor(modelItem => item.ValorHora)
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Descrição do serviço</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </p>
                            </div>
                            <div class="card-footer text-muted d-flex justify-content-around flex-wrap">
                                 @Html.DisplayFor(modelItem => item.Contratante.Nome) |                                  
                                 @Html.DisplayFor(modelItem => item.Contratante.Telefone) |                               
                                 @Html.DisplayFor(modelItem => item.Contratante.Email)                                 
                                <div>
                                    <i class="far fa-edit"></i>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <i class="far fa-newspaper"></i>
                                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                    <i class="far fa-trash-alt"></i>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
</div>

@section scripts{
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
            }
        });

    });
</script>
}